.gcloudignore
.git
.gitignore
.env
__pycache__/
*.py[cod]
*$py.class
checkpoints/
outputs/
wandb/
.pytest_cache/
.ipynb_checkpoints/
/data/raw/
/data/interim/
/data/preds/
/pretrained_weights/
job_spec.yaml
